img{
    display:block;
    float:middle;
    
}
button{
    position:relative;
    left:285px;
    background-color:transparent;
    border:none;
    
}
a:link{
    text-decoration:none;
    width:60px;
    color:#000000;
    padding:1px;
}
#logo{
    position:relative;
    /*left:125px;*/
    top:-40px;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    width:495px;
    height:396px;
   
}
#startPic{
    width:495px;
    height:370px;
    float:middle;
    position:relative;
    /*left:125px;*/
    top:-180px;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}
.wrapper{
    text-align:center;
}
#startButton{
    position:relative;
    top:-180px;
    left:0px;
    margin-left:auto;
    margin-right:auto;
    /*left:540px;*/
}
#gameText{
    font-family:Courier;
    font-size:14px;
    padding:7px;
}

.help{
    position:relative;
    visibility:hidden;
    
   
}
.helpVis{
    visibility:visible;
    position:relative;
    }
#helpTitle{
    font-size:16px;
    position:absolute;
    left:100px;
    top:-10px;
    font-weight:bold;
    text-decoration:underline;
}
#helpHead{
    font-size:10px;
    font-weight:bold;
    width:110px;
    height:15px;
    border:2px dashed gray;
    display:inline-block;
    position:absolute;
    left:225px;
    top:35px;
    padding:2px;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
#helpDesc{
    font-size:10px;
    height:140px;
    width:110px;
    border:2px dashed gray;
    display:inline-block;
    position:absolute;
    left:225px;
    top:70px;
    padding:2px;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    
}
#helpList{
    font-size:10px;
    position: absolute;
    left:-15px;
    top:25px;
    text-align:center;
    
}
#helpList1{
    font-size:10px;
    position: absolute;
    left:100px;
    top:25px;
    text-align:center;
}

#playerImage{
    position:absolute;
    top:7px;
    left:580px;
    background:transparent;

}

.menu{
   visibility: hidden;
    position:relative;
    top:-230px;
   /* width: 100px;*/
   /* border-radius: 20%;
    border: 2px dashed gray;*/
    
}
.menuVis{
    visibility: visible;
    position:relative;
    top:0px;
   /* width: 100px;/*
    /*border-radius: 20%;
    border: 2px dashed gray;*/
}
.recipe{
    visibility:hidden;
    position:relative;
    /*
    top:-440px;
    width:100px;
    /*border-radius:30%;
    border:4px dashed gray;*/
}
.recipeVis{
    visibility:visible;
    position:relative;
    /*top:-10px;
    left:-15px;*/
    text-align:center;

    /*
    top:0px;
    width: 100px;
    /*border-radius:30%;
    border:4px dashed gray;*/
}
#recipeTitle{
    font-size:16px;
    position:absolute;
    left:150px;
    top:-10px;
    font-weight:bold;
    text-decoration:underline;
}
#recipeLogo{
    position:absolute;
    top:30px;
    left:240px;
}
#recipeList{
    position:absolute;
    top:20px;
    left:-30px;

}
.logopic{
    visibility:visible;
}

#playerName{
    padding:5px;
    
}
#cpTrack{
    position:absolute;
    top:2px;
    left:575px;
    font-size:15px;
    color:red;
    font-weight:bold;
    z-index:2;
}
#CP{
    padding-left:5px;
    position:absolute;
    top:34px;
    font-size:16px;
    display: inline-block;
}
#Level{
    
    padding-left:5px;
    position:absolute;
    top:66px;
    font-size:16px;
    display: inline-block;
}
#XP{
    padding-left:5px;
    position:absolute;
    top:98px;
    font-size:16px;
    display: inline-block;
}

#cookAid{
    font-size:16px;
    display:inline-block;
    position:absolute;
    left:225px;
    top:34px;
}
#currentCookAid{
    font-size:16px;
    display:inline-block;
    position:absolute;
    left:225px;
    top:66px;
}
#eatAid{
    font-size:16px;
    display:inline-block;
    position:absolute;
    left:350px;
    top:34px;
}
#currentEatAid{
    font-size:16px;
    display:inline-block;
    position:absolute;
    left:350px;
    top:66px;
}
#EA{
    
    padding:1px;
    /*padding-left:15px;*/
    font-size:16px;
    display: inline-block;
    position:absolute;
    left:110px;
    top:33px;
}
#strength{
   
    padding:1px;
    /*padding-left:27px;*/
    font-size:16px;
    display: inline-block;
    position:absolute;
    left:110px;
    top:65px;
}
#cash{
   
    padding:1px;
    /*padding-left:43px;*/
    font-size:16px;
    visibility:hidden;
    display: inline-block;
    position:absolute;
    left:110px;
    top:97px;
}
#limitBake{

    padding:1px;
    /*padding-left:20px;*/
 
    font-size:16px;
 
    visibility:hidden;
    display: inline-block;
    position:absolute;
    top:33px;
    left:475px;
}
#currentLimit{
    
    /*position:relative;
    top:0px;
    left:47px;*/
    
    display:inline-block;
    visibility:hidden;
    position:absolute;
    top:70px;
    left:476px;
}
#game{
    width:1070px;
    /*width:900px;*/
    visibility:hidden;
}

#map{
    width:670px;
    /*width:500px;*/
    height:465px;
    border: 4px solid gray;
    position: relative;
    display: inline-block;
    float:left;
    
}
#encounterInfo{
    width:350px;
    height:360px;
    border: 4px solid gray;
    display:inline-block;
    float:right;
    position:relative;
}
#encounterName{
    padding:5px;
    text-align:center;
    
}
#encounterCPTrack{
    position:absolute;
    top:50px;
    left:250px;
    font-size:15px;
    color:red;
    font-weight:bold;
    z-index:2;
}
#encounterImage{
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}
#encounterCP{
    text-align:center;
}

#playerInfo{

    height: 130px;
    margin-top: 15px;
    display: inline;
    border: 4px solid gray;
    width:670px;
    /*width: 500px;*/
    float:left;
    position:relative;
   
}

#proceed{
    border:1px solid gray;
    border-radius:10%;
    text-align:center;
}

#proceed1{
    border:1px solid gray;
    border-radius:10%;
}

#proceed2{
    border:1px solid gray;
    border-radius:10%;
}

#cook{
    border:1px solid gray;
    border-radius:10%;
}
#finaleImage{
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    width:308px;
    height:215px;

}
#enemyImage{
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
}
#finalImage{
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    width:213px;
    height:323px;
}
#productImage{
    display:inline-block;
}
#product{
    border:1px solid gray;
    border-radius:10%;
    text-align:center;
    width:350px;
    display:inline-block;
    position:relative;
    left:150px;
    
}
#copyRight{
    clear:both;
    display:block;
    font-size:12px;
}
.logopic{
    visibility:hidden;
}
#menuInfo{
    height: 230px;
    width: 350px;
    border:4px solid gray;
    display:inline-block;
    position:relative;
    left:34px;
    top:20px;

}
#itemTitle{
    font-size:16px;
    position:absolute;
    left:100px;
    top:-10px;
    font-weight:bold;
    text-decoration:underline;
    
}
#cookToolTitle{
    font-size:16px;
    position:absolute;
    left:25px;
    top:130px;
    font-weight:bold;
    text-decoration:underline;
    
}
#eatingAidTitle{
    font-size:16px;
    position:absolute;
    left:140px;
    top:130px;
    font-weight:bold;
    text-decoration:underline;
   
}
#menuList{
    font-size:10px;
    position: absolute;
    left:-15px;
    top:25px;
    text-align:center;
    
}
#menuList1{
    font-size:10px;
    position: absolute;
    left:100px;
    top:25px;
    text-align:center;
}
#itemNav{
    font-size:10px;
    position:absolute;
    top:215px;
    left:25px;
    
}
#recipeNav{
    font-size:10px;
    position:absolute;
    top:215px;
    left:25px;
}
#helpNav{
    font-size:10px;
    position:absolute;
    top:215px;
    left:25px;
}
#cookList{
    font-size:10px;
    position: absolute;
    left:-15px;
    top:160px;
    text-align:center;
}
#eatList{
    font-size:10px;
    position: absolute;
    left:100px;
    top:160px;
    text-align:center;
}
#menuDesc{
    font-size:10px;
    height:15px;
    width:110px;
    border:2px dashed gray;
    display:inline-block;
    position:absolute;
    left:225px;
    top:35px;
    padding:2px;
    text-align:center;
    
}
#menuPic{
    height:64px;
    width:84px;
    border:2px dashed gray;
    display:inline-block;
    position:absolute;
    left:225px;
    top:70px;
    padding-left:30px;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    text-align:center;

}
li{
    font-size:10px;
    width:70px;
}