
.projRow{
  border: 1px solid gray;
  border-radius: 3px;
  height: 200px;
  overflow-y: scroll;
  img{
    border-radius: 5px;
    border: 1px solid gray;
    width: 90%;
    text-align: center;
    margin-top: 15px;
  }
  a{
    text-decoration: none;
  }
}
