ul {
  list-style: none; }
  ul a {
    text-decoration: none; }
  ul li {
    border: 1px solid gray;
    border-radius: 3px;
    height: 200px; }
  ul img {
    border-radius: 5px;
    border: 1px solid gray;
    width: 100%;
    text-align: center;
    margin-top: 15px; }
